<link rel="stylesheet" href="widgets/statusanzeigeliste/statusanzeigeliste.css">

<script>
    window.statusanzeigelisteEscapeHtml = function (value) {
        return String(value)
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#039;');
    };

    window.statusanzeigelisteRenderValue = function (value, oid, emptyText) {
        var text = value === null || value === undefined ? '' : String(value);
        if (!text) return emptyText || '';
        if (/\.html$/i.test(String(oid || ''))) return text;
        return text
            .split(/\r?\n/)
            .filter(function (line) { return line !== ''; })
            .map(function (line) {
                return '<div class="statusanzeigeliste-row info" data-severity="info">' + window.statusanzeigelisteEscapeHtml(line) + '</div>';
            })
            .join('');
    };

    window.statusanzeigelisteUpdateWidgets = function () {
        if (typeof vis === 'undefined' || !vis.states || typeof vis.states.attr !== 'function') return;
        var nodes = document.querySelectorAll('.statusanzeigeliste-content[data-oid]');
        for (var i = 0; i < nodes.length; i++) {
            var node = nodes[i];
            var oid = String(node.getAttribute('data-oid') || 'statusanzeigeliste.0.text').replace(/\.val$/, '');
            var emptyText = node.getAttribute('data-empty-text') || '';
            var value = vis.states.attr(oid + '.val');
            node.innerHTML = window.statusanzeigelisteRenderValue(value, oid, emptyText);
        }
    };
    if (window.statusanzeigelisteUpdateTimer) window.clearInterval(window.statusanzeigelisteUpdateTimer);
    window.statusanzeigelisteUpdateTimer = window.setInterval(window.statusanzeigelisteUpdateWidgets, 1000);
    window.setTimeout(window.statusanzeigelisteUpdateWidgets, 0);
    window.setTimeout(window.statusanzeigelisteUpdateWidgets, 250);
</script>

<script id="tplStatusanzeigelisteArchive"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="statusanzeigeliste-vis-preview">Archiv</div>'
        data-vis-set="statusanzeigeliste"
        data-vis-type="val"
        data-vis-name="Archiv"
        data-vis-attrs="oid/id,statusanzeigeliste.0.archive.html;title/text,Archiv;emptyText/text,Archiv ist leer;showTitle/checkbox,true">
    <%
        var archiveOid = String(data.oid || 'statusanzeigeliste.0.archive.html').replace(/\.val$/, '');
        var archiveValue = '';
        try {
            if (typeof vis !== 'undefined' && vis.states && typeof vis.states.attr === 'function') {
                archiveValue = vis.states.attr(archiveOid + '.val') || '';
            }
        } catch (e) {
            archiveValue = '';
        }
    %>
    <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width:<%= this.data.attr('width') %>;height:<%= this.data.attr('height') %>;">
        <div class="statusanzeigeliste-widget statusanzeigeliste-archive-widget">
            <% if (data.showTitle === 'true' || data.showTitle === true) { %>
                <div class="statusanzeigeliste-title"><%= data.title || 'Archiv' %></div>
            <% } %>
            <div class="statusanzeigeliste-content" id="<%= this.data.attr('wid') %>_content" data-oid="<%= archiveOid %>" data-empty-text="<%= data.emptyText || 'Archiv ist leer' %>">
                <%== window.statusanzeigelisteRenderValue(archiveValue, archiveOid, data.emptyText || 'Archiv ist leer') %>
            </div>
        </div>
    </div>
</script>

<script id="tplStatusanzeigelisteList"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="statusanzeigeliste-vis-preview">Statusanzeigeliste</div>'
        data-vis-set="statusanzeigeliste"
        data-vis-type="val"
        data-vis-name="Statusanzeigeliste"
        data-vis-attrs="oid/id,statusanzeigeliste.0.text;title/text,Status;emptyText/text;showTitle/checkbox,true">
    <%
        var slOid = String(data.oid || 'statusanzeigeliste.0.text').replace(/\.val$/, '');
        var slValue = '';
        try {
            if (typeof vis !== 'undefined' && vis.states && typeof vis.states.attr === 'function') {
                slValue = vis.states.attr(slOid + '.val') || '';
            }
        } catch (e) {
            slValue = '';
        }
        function slEscape(value) {
            return String(value)
                .replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#039;');
        }
        function slRender(value, oid, emptyText) {
            var text = value === null || value === undefined ? '' : String(value);
            if (!text) return emptyText || '';
            if (/\.html$/i.test(String(oid || ''))) return text;
            return text
                .split(/\r?\n/)
                .filter(function (line) { return line !== ''; })
                .map(function (line) {
                    return '<div class="statusanzeigeliste-row info" data-severity="info">' + slEscape(line) + '</div>';
                })
                .join('');
        }
    %>
    <div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width:<%= this.data.attr('width') %>;height:<%= this.data.attr('height') %>;">
        <div class="statusanzeigeliste-widget">
            <% if (data.showTitle === 'true' || data.showTitle === true) { %>
                <div class="statusanzeigeliste-title"><%= data.title || 'Status' %></div>
            <% } %>
            <div class="statusanzeigeliste-content" id="<%= this.data.attr('wid') %>_content" data-oid="<%= slOid %>" data-empty-text="<%= data.emptyText || '' %>">
                <%== slRender(slValue, slOid, data.emptyText || '') %>
            </div>
        </div>
    </div>
</script>
